#the-button{
	font-size: 50px;
	margin : 0px auto;
    float: left;
    position: absolute;

}

body{
	background-color: black;
	height:100%;
}

#click-count{
	background-color: white;
	text-align: center;
	font-size: 25px;
	position: fixed;
    bottom: 0;
    width: 100%;
}

#click-number{
	display: inline;
}

#timer{
	background-color: white;
	text-align: center;
	font-size: 25px;
}

#time-remaining{
	display: inline;
}